<html>
<body>
<form action="http://127.0.0.1:8081/survey_form" method="GET">
Welcome <%= user%><br><br><br>
<form>
  What is 2 + 2?<br>
  <input type="radio" name="q1" value="4" checked> 4
  <input type="radio" name="q1" value="0"> 0
  <input type="radio" name="q1" value="2"> 2 <br><br>
 What is 3 * 4?<br>
  <input type="radio" name="q2" value="7" checked> 7
  <input type="radio" name="q2" value="14"> 14
  <input type="radio" name="q2" value="12"> 12<br><br>
 What is 2/2?<br>
  <input type="radio" name="q3" value="2" checked> 2
  <input type="radio" name="q3" value="1"> 1
  <input type="radio" name="q3" value="0"> 0
<br><br><br>
<input type="submit" value="Submit"> 
</form>
</body>
</html>