<html>
<body>
<form action="http://127.0.0.1:8081/process_get" method="GET">
Results : <%=feedback%>
<b>What is 2+2?<b> <br>
 You answered <%=ans1 %>! <br><br>
<b> What is 3 * 4?<b><br>
You answered <%=ans2 %>!<br><br>
<b> What is 2/2? <b><br>
You answered <%=ans3 %><br><br>
<br>

</body>
</html>